.quest1 {
  background: url("/assets/ebook/Progress.png") center/cover no-repeat;
}

.quest2 {
  background: url("/assets/ebook/kids1.png") center/cover no-repeat;
}

.quest3 {
  background: url("/assets/ebook/activity.png") center/cover no-repeat;
}

.quest4 {
  background: url("/assets/ebook/Quest.png") center/cover no-repeat;
}

.quest1,
.quest2,
.quest3,
.quest4 {
  position: relative; /* Ensure that the children elements are positioned relative to this container */
  background-size: contain;
  background-position: center;
  height: 200px;
  width: 250px;
  display: flex; /* Use flexbox to center the text */
  justify-content: center; /* Center the text horizontally */
  align-items: flex-end; /* Center the text vertically */
  text-align: center; /* Center the text within its container */
}

.questPending {
  border-radius: 20px;
  background: rgba(87, 171, 165, 0.8);
}

.btn-txt {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: "IntegralCF-Bold";
  font-size: 23px;
  color: black;
  text-align: center;
}

.rowParent {
  // margin-top: -100vh;
  position: fixed;
  margin-top: 8vh;
  // box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  width: 45%;
  height: auto;
}

.quest {
  margin: 0vh auto;
}

@media only screen and (max-width: 760px) {
  .rowParent {
    position: sticky;
    width: 100%;
    margin-top: 1vh;
  }
  .quest1,
  .quest2,
  .quest3,
  .quest4 {
    height: 100px;
    width: 140px;
  }

  .btn-txt {
    font-size: 15px;
    height: 30px;
  }

  .quest {
    display: flex;
    justify-content: center;
  }

  .component-container {
    margin-top: 1vh;
  }
}

@media only screen and (min-width: 1400px) {
  .rowParent {
    left: 80px;
  }
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
