ion-title {
  text-align: center;
  font-family: "IntegralCF-Bold";
  color: white;
}

ion-toolbar {
  --background: #bd7f60;
}

ion-content {
  --background: url("/assets/ebook/bg.png") center/cover no-repeat;
  height: 100vh;
}

.back-btn {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  width: 150px;
  height: 50px;
  margin: 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.dash {
  margin-bottom: 10px;
  font-family: "IntegralCF-Bold";
}

.Users {
  font-family: "IntegralCF-Bold";
  ion-label {
    font-family: "IntegralCF-Bold";
  }
}

ion-card {
  width: 95%;
  margin: 20px auto;
  border: 1px solid;
  box-shadow: 10px 14px 22px -9px rgba(0, 0, 0, 0.71);
}

ion-card-title {
  font-weight: bold;
}

.save {
  margin-right: 10px;
}

.reg {
  margin-left: 10px;
}

.Users {
  background-color: white;
  height: auto;
  border-radius: 20px;
  border: #0080ff 15px solid;
  margin-top: 10vh;
  width: 65vh;
  ion-label {
    font-family: "IntegralCF-Bold";
    font-size: 13px;
  }
}

@media (max-width: 765px) {
  ion-card {
    width: 85%;
    margin: 0 auto;
  }
}

.plain-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #007bff;
  margin: 0 auto;
  font-size: 20px;
}

.edit-btn {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.parent {
  display: flex;
  justify-content: center;
}

.healthy-weight {
  background-color: green;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.underweight {
  background-color: lightblue;
  padding: 5px;
  border-radius: 10px;
  color: black;
}

.overweight {
  background-color: yellow;
  padding: 5px;
  border-radius: 10px;
  color: black;
}

.obese {
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.add-btn {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 15px;
  }
}

.kid-add {
  margin-bottom: 10px;
}

.character {
  display: flex;
  justify-content: center;
}

.actLog {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IntegralCf-Bold";
  h1 {
    font-size: 15px;
    margin-bottom: 20px;
    color: black;
  }
}
