<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">Kids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="back-btn" (click)="navigateToDashboard()">
    <div class="dash">
      <h1>Dashboard</h1>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <app-custom-navigation></app-custom-navigation>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <div class="parent">
          <div class="Users">
            <h1 style="text-align: center">Kids</h1>
            <!-- <ion-card class="Kids" *ngIf="usersData.length > 0"> -->
            <ion-card *ngFor="let userData of usersData">
              <div class="activityLog">
                <!-- Pass userData to the openActivityLog method -->
                <div class="actLog" (click)="openActivityLog(userData)">
                  <h1>Activity Log</h1>
                </div>
              </div>
              <ion-card-header>
                <ion-item>
                  <ion-label style="text-align: center"
                    >{{ userData.fullname }}</ion-label
                  >
                </ion-item>
              </ion-card-header>

              <!-- <ion-item no-lines>
                          <ion-icon slot="start" name="mail" size="large"></ion-icon>
                          <ion-label>Email:</ion-label>
                          <ion-text>{{ userData.email }}</ion-text>
                        </ion-item> -->
              <!-- Add more items as needed -->
              <ion-grid>
                <ion-row>
                  <ion-col push-sm="6">
                    <div class="kid-info">
                      <ion-item no-lines>
                        <ion-label>Age:</ion-label>
                        <ion-text>{{ userData.age }}</ion-text>
                      </ion-item>
                      <ion-item no-lines>
                        <ion-label>Height:</ion-label>
                        <ion-text>{{ userData.height }} cm</ion-text>
                      </ion-item>
                      <ion-item no-lines>
                        <ion-label>Weight:</ion-label>
                        <ion-text>{{ userData.weight }} kg</ion-text>
                      </ion-item>
                      <ion-item no-lines>
                        <ion-label>BMI:</ion-label>
                        <ion-text>{{ userData.bmi }}</ion-text>
                      </ion-item>
                      <ion-item no-lines>
                        <!-- <ion-label>Status:</ion-label> -->
                        <ion-text [class]="getStatusClass(userData.status)"
                          >{{ userData.status }}</ion-text
                        >
                      </ion-item>
                    </div>
                  </ion-col>
                  <ion-col pull-sm="6">
                    <div class="character">
                      <img
                        alt="daily task"
                        style="height: 220px"
                        src="assets/ebook/char.png"
                      />
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-card-footer>
                <ion-buttons class="edit-btn">
                  <ion-button
                    (click)="editUser(userData)"
                    style="font-family: IntegralCF-Bold; color: black"
                  >
                    Edit
                  </ion-button>
                </ion-buttons>
                <ion-buttons class="edit-btn">
                  <ion-button
                    (click)="openLoginPageModal(userData.usersUID)"
                    [disabled]="userData.age === null || userData.height === null || userData.weight === null || userData.bmi === null || userData.status === null"
                    style="font-family: IntegralCF-Bold; color: black"
                  >
                    Play
                  </ion-button>
                </ion-buttons>

                <ion-buttons class="edit-btn">
                  <ion-button
                    (click)="openVaccineDetailsModal(userData)"
                    style="font-family: IntegralCF-Bold; color: black"
                  >
                    Vaccine
                  </ion-button>
                </ion-buttons>
              </ion-card-footer>
            </ion-card>
            <!-- </ion-card> -->
            <div class="add-btn" (click)="openSignupModal()">
              <div class="kid-add">
                <h1>Add New Kid</h1>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openSignupModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
