
ion-content{
  --background: #003366;
 }

 ion-card{
  img{
    height: 100px;
    width: 100px;
    margin: 20px;
  }
 }

.custom-card {
    max-width: 700px; 
    width: 100%; 
    margin: 5vh auto; 
    overflow: hidden; 
  }
  
 
  @media (max-width: 700px) {
  .custom-card {
    max-width: none; 
    width: 100%; 
  }
  
  .list-games{
    width: 90%;
  }

  }
  
  h2{
    max-width: 90%;
  }
 
  .list-games{
    max-width: 400px;
  }

  .gamesFound{
  
    margin: 5vh auto;
    h2{
      text-align: center;
      font-family: "IntegralCF-Bold";
      color: black;
    }
  }

  .list-games{
    margin: 3vh auto;
    text-align: center;
  }

  h2{
    border: solid 1px;
    background: lightseagreen;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
  }

  ion-button{
      width: 150px;
      margin: 10px auto;
  }
