<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Add a back button to navigate to the home page -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="age-display"
        >Games for {{ agePreference }}-Years-Old</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <button (click)="findGames()" expand="full">Find Games</button>
    </ion-card-content>
  </ion-card>

  <div
    class="gamesFound"
    *ngIf="buttonClicked && foundGames !== undefined && foundGames.length > 0"
  >
    <!-- Display matched games in card format -->

    <h2>Available Games:</h2>

    <div class="parent" *ngFor="let game of foundGames">
      <div color="warning" class="list-games">
        <div class="game-head">
          <img alt="Silhouette of mountains" src="assets/icon/Normal.png" />
          <h1>{{ game.title }}</h1>
          <p>{{ game.description }}</p>
        </div>

        <div class="btn-play">
          <button
            *ngIf="game.title === 'Naming Shapes'"
            [routerLink]="['/shape-match']"
          >
            <p>Play</p>
            <ion-icon name="shapes-sharp"></ion-icon>
          </button>

          <button
            *ngIf="game.title === 'Trash Game'"
            [routerLink]="['/trash-game']"
          >
            <ion-icon name="trash-sharp"></ion-icon>
            Play
          </button>
          <button
            *ngIf="game.title === 'Sounds Animals'"
            [routerLink]="['/sound-animals']"
          >
            <ion-icon name="musical-note-sharp"></ion-icon>
            Play
          </button>
          <button
            *ngIf="game.title === 'Counting Balloons'"
            [routerLink]="['/numbers']"
          >
            Play
          </button>
          <button
            *ngIf="game.title === 'Playing Letters'"
            [routerLink]="['/game-counting']"
          >
            Play
          </button>
          <button
            *ngIf="game.title === 'Guess The Animals'"
            [routerLink]="['/guest-game']"
          >
            Play
          </button>
          <button
            *ngIf="game.title === 'Guess the Numbers'"
            [routerLink]="['/guest-the-numbers']"
          >
            Play
          </button>
          <button
            *ngIf="game.title === 'Guess The Colors'"
            [routerLink]="['/guest-the-colors']"
          >
            Play
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
