ion-title {
  text-align: center;
  font-family: "IntegralCF-Bold";
  color: white;
}

ion-content {
  --background: rgba(87, 171, 165, 0.6);
}

ion-card-title {
  font-family: "IntegralCF-Bold";
}

ion-toolbar {
  --background: #bd7f60;
}

.bmiHistory {
  margin: 20px;
}

.editParent {
  ion-label {
    font-family: "IntegralCF-Bold";
  }
  ion-input {
    text-align: end;
  }
}
.add-btn {
  text-align: center;
  color: black;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  max-width: fit-content;
  background: rgba(252, 128, 66, 0.6);
}

.save-btn {
  color: black;
  justify-content: center;
  margin: 0 20px;
  background: rgba(
    252,
    128,
    66,
    0.6
  ); /* Adjust the opacity by modifying the last value (0.6) */
  border-radius: 10px;
  border: 2px solid black;
}

.delete-btn {
  color: black;
  justify-content: center;
  margin: 0 20px;
  background: rgb(255 44 81 / 60%);
  border-radius: 10px;
  border: 2px solid black;
}

.display-bmi {
  color: black;
  h1 {
    text-align: center;
    font-family: "IntegralCF-Bold";
  }
}

.each-bmi {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: lightcyan;
}

.grand {
  width: 90%;
  margin: 20px auto;
}
