<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display details for the selected parent -->
  <ion-card class="details-container">
    <ion-card-content style="color: black">
      <div class="detail-item">
        <strong>Full Name:</strong> {{ parentDetails.fullname }}
      </div>
      <div class="detail-item">
        <strong>Gender:</strong> {{ parentDetails.gender }}
      </div>
      <div class="detail-item">
        <strong>Email:</strong> {{ parentDetails.email }}
      </div>
      <div class="premium">
        <strong>Premium:</strong> {{ parentDetails.premium ? 'Yes' : 'No' }}
        <div class="btn-prem" (click)="togglePremiumStatus()">
          <h1>
            {{ parentDetails.premium ? 'Revoke Premium' : 'Make Premium' }}
          </h1>
        </div>
      </div>

      <!-- Display user information from the 'users' subcollection -->
      <ion-card class="user-details" *ngFor="let user of parentDetails.users">
        <ion-card-header>
          <ion-card-title>Kid</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="detail-item">
            <strong>Full Name:</strong> {{ user.fullname }}
          </div>
          <div class="detail-item"><strong>User ID:</strong> {{ user.id }}</div>
          <div class="detail-item">
            <strong>Email:</strong> {{ user.email }}
          </div>
          <div class="detail-item"><strong>BMI:</strong> {{ user.bmi }}</div>
          <div class="detail-item">
            <strong>Height:</strong> {{ user.height }} cm
          </div>
          <div class="detail-item">
            <strong>Weight:</strong> {{ user.weight }} kg
          </div>
          <div class="detail-item"><strong>Age:</strong> {{ user.age }}</div>
          <div class="detail-item">
            <strong>Status:</strong> {{ user.status }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
