ion-content {
  --background: url("/assets/newAssets/bg-bday.jpg") center/cover no-repeat; /* Set the background image */
  overflow: hidden; /* Hide the scroll */
}

ion-toolbar {
  --background: #bd7f60;
}

ion-title {
  text-align: center;
  font-family: "IntegralCF-Bold";
  color: white;
}

.bday {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "IntegralCF-Bold";
  border: 1px solid;
  border-radius: 10px;
  background: #03aed2;
  padding: 10px;
  h1 {
    font-size: 40px;
  }
}

.parent {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.cake-container {
  img {
    height: 100px;
    width: 100px;
  }
}

.remaining-time {
  text-align: center;
  color: red;
}

.date {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  width: 250px;
  height: 100px;
  margin: 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.button-container {
  background: url(/assets/ebook/brd.png) center / contain no-repeat;
  position: relative;
  width: 250px;
  height: 100px;
  margin: 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
